RewriteEngine On
#RewriteCond %{REMOTE_HOST} "=patreon.com"
RewriteCond %{QUERY_STRING} "!=patreons"
RewriteRule ^(.*)$ /error-pages/only-patreons.html
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^\.]+)$ $1.html